@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-image-url-small: url('../dist/images/hero-mobile.png');
  --background-image-url-medium: url('../dist/images/hero-tablet.png');
  --background-image-url-large: url('../dist/images/hero-desktop.png');
}

/* Mobile Menu */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  content: '';
  position: absolute;
  width: 24px;
  height: 3px;
  top: 0;
  left: 0;
  background: #ffffff;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

/* Hero */
.hero-section {
  @apply bg-no-repeat bg-right-top bg-blend-overlay;
  background-image: linear-gradient(to bottom, #222326, transparent), url('../dist/images/hero-mobile.png');

  @media (min-width: 768px) {
    background-image: linear-gradient(to bottom, #222326, transparent), url('../dist/images/hero-tablet.png');
  }

  @media (min-width: 1024px) {
    background-image: linear-gradient(to bottom, #222326, transparent), url('../dist/images/hero-desktop.png');
  }  
}

